h1 {
    color: rgb(0, 0, 0);
}

.header {
 display:flex;
 background-color: rgb(16, 173, 194);
 justify-content:space-between ;
}

a {
    color:black;
}

.description {
    text-align:center;
}

.grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.grid p {
    text-align:center;
}

.footer {
    display:flex;
    justify-content:flex-end;
}